/* 
Just vanilla CSS 
Media queries could be combined for some breakpoints
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  box-sizing: border-box;
}

html * {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-repeat: no-repeat;
  background: linear-gradient(-40deg, #255B6F -85%,#13212C 15%);
  background-size: 100%;
  background-attachment: fixed;
}

a {
  /* dont do this */
  display: inline-flex;
}

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.App-flex {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media (min-width: 1100px) {
  .App-flex {
    flex-direction: row;
  }
}

.Header {
  background: #091117;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.Header img {
  height: 30px;
  margin: 20px 40px;
  margin-right: 0;
}

.Header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #f5f5f5;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 11px;
  padding: 0 40px;
  height: 100%;
  height: 70px;
}

.Header ul li {
  padding: 0 13px;
  height: 50px;
  display: flex;
  align-items: center;
  line-height: 1;
  border-bottom: 2px solid transparent;

}

.Header ul li a {
  color: inherit;
  text-decoration: none;
}

.Header ul li:hover {
  /* background: #229BD5;
  color: #091117; */
  color: #31b0ec;
  cursor: pointer;
  border-color: inherit;
}

.Header ul li.login {
  font-weight: 700;
}

.Search {
  text-align: center;
  padding: 20px;
}

@media (min-width: 1100px) {
  .Search {
    width: 380px;
    min-width: 380px;
    box-shadow: -50px 0px 50px 50px rgba(0, 0, 0, 0.2);
    z-index: 9;
    
  }
}

.Search-form {
  display: inline-flex;
  align-items: center;
  margin: 0 auto;
  transform: translateX(-50px);
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 650px) {
  .Search-form {
    transform: none;
    flex-wrap: wrap;
    display: flex;
  }
}

@media (min-width: 1100px) {
  .Search-form {
    transform: none;
  }
}

.Search-form > div {
  display: flex;
  box-shadow: 0 8px 22px -3px rgba(0, 0, 0, 0.48);
}

.Search-form label {
  color: #778692;
  font-weight: 400;
  font-size: 12px;
  width: 100px;
  text-align: right;
  padding-right: 10px;
}

@media (max-width: 650px) {
  .Search-form label {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
  }
}

@media (min-width: 1100px) {
  .Search-form label {
    width: 100%;
    padding: 0;
    text-align: center;
    padding-bottom: 10px;
  }
}

.Search-form input {
  height: auto;
  padding: 10px 20px;
  font-size: 17px;
  border: none;
  background: #1F2C35;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.02em;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  /* border-bottom: 3px solid #111b21; */
}

.Search-form .button {
  padding: 0;
  background: #229BD5;
  align-self: stretch;
  display: flex;
  align-items: center;
  line-height: 1;
  padding: 0 15px;
  cursor: pointer;
  color: #091117;
  font-size: 13px;
  font-weight: 700;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  /* border-bottom: 3px solid #0f5677; */
}

.Search-form .button:hover {
  background: #50b5e6;
}

.Search-user {
  margin-top: 20px;
  max-height: 0;
  transition: .2s;
  opacity: 0;
  overflow: hidden;
}

.Search-user.show {
  max-height: 210px;
  opacity: 1;
}

.Search-userImage {
  opacity: 0;
  transition: 0.2s;
  transition-delay: 0.3s;
}

.Search-user.show .Search-userImage {
  opacity: 1;
}

.Search-userImage > div {
  width: 180px;
  height: 180px;
  background-size: cover;
  border-radius: 10px;
  margin: 0 auto;
  /* box-shadow: 0 7px 7px -1px rgba(0, 0, 0, 0.25); */
}

.Search-userName {
  color: #ffffff;
  font-weight: 700;
  padding-top: 10px;
  font-size: 13px;
}

.RepoList {
  text-align: center;
  background: #121C24;
  padding: 40px;
  flex-grow: 1;
}

@media (min-width: 1300px) {
  .RepoList-repos {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    max-width: 1500px;
    margin: 0 auto;
  }
}

.RepoList-count {
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.RepoList-countBar {
  max-width: 130px;
  border-bottom: 2px solid #229BD5;
  margin: 0 auto;
  padding-top: 15px;
}

.RepoList-repo {
  background: #fff;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 15px;
  transition: 0.2s;
  transform: translateY(10px);
  opacity: 0;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 6px 15px -2px rgba(0,0,0,0.2);
  cursor: pointer;
}

@media (min-width: 1300px) {
  .RepoList-repo {
    width: calc(50% - 40px);
    margin: 20px;
  }
}

@media (min-width: 1400px) {
  .RepoList-repo {
    width: calc(33% - 40px);
  }
}

.RepoList-repos.show-repos .RepoList-repo {
  opacity: 1;
  transform: translateY(0px);
}

.RepoList-repoTitle {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 12px;
  border-bottom: 1px solid #e1e1e1;
  background: #193A4B;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  top: -1px;
  align-items: center;
}

.RepoList-repo:hover .RepoList-repoTitle {
  background: #204c63;
}

.RepoList-repoName {
  font-weight: 700;
  font-size: 14px;
}

.RepoList-repoAge {
  color: #b2c8d4;
  font-size: 10px;
}

.RepoList-repoDescription {
  line-height: 1.6;
  color: #444;
  text-align: left;
  padding: 10px 20px;
  padding-top: 9px;
  font-size: 15px;
}

.RepoList-repoLanguage {
  border-top: 1px solid #f1f1f1;
  padding: 5px 10px;
  text-align: right;
}

.RepoList-repoLanguage > span {
  font-size: 10px;
  background: #2B9FD7;
  color: #fff;
  padding: 4px 10px;
  padding-bottom: 5px;
  line-height: 1;
  border-radius: 100px;
  width: auto;
  display: inline-flex;
  margin-left: auto;
}

.Footer {
  background: #0a1117;
  font-size: 11px;
  padding: 10px;
  text-align: right;
  color: #c1c1c1;
  z-index: 999;
}

.Footer a {
  color: #229BD5;
  text-decoration: none;
}